body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
    text-align: center;
}

.loader {
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.loader:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #4c39ff;
    border-color: #4c39ff transparent #4c39ff transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.search {
    text-align: center;
}

.search input,
.search button {
    margin: 4px;
}

.movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.movies li {
    list-style: none;
    display: inline-flex;
    text-align: center;
    width: 400px;
    height: 200px;
    margin: 8px;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
}

.movies li span {
    font-size: 20px;
    color: yellow;
    background: gray;
    opacity: 0.8;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}
